<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/normalize.css" />
    <link rel="stylesheet" href="/skeleton.css" />
    <title>CMC-Product</title>
  </head>
  <body>
    <div class="showContainer">
    <button onClick="window.location.href='/products'">Back To Home</button>
    <!-- <a href="/products">Back To Home</a> -->
    <h3><%= product.name%></h3>
    <div class="productContainer">
    <img src=<%= product.img%> width=200 height=200/>
    <% if(product.qty !== 0) { %>
        <p><%=product.qty%> remaining</p> 
    <% } else { %> 
        <p>Out Of Stock</p>%>
    <% } %>
    <p><%= product.description%></p>
    <p>Price: $<%= product.price%></p>
    <% if(product.qty !== 0) { %>
        <form action="/products/buy/<%=pos%>?_method=PUT" method="POST">
            <button>BUY</button>
          </form>
    <% } %>
    
    </div>
    <button onClick="window.location.href='/products/edit/<%=pos%>'">Edit This Product</button>
    <form action="/products/<%=pos%>?_method=DELETE" method="POST">
      <button>Delete</button>
    </form>
    <!-- <a href="/products">Back To Home</a> -->
    </div>
  </body>
</html>
